RSA_PRIVATE_KEY=<Output of echo "\"$(cat private_key.pem | tr -d '\n')\"">

# Postgresql Configuration
POSTGRESQL_DB_NAME=<DB Name>
POSTGRESQL_USER_NAME=<DB Username>
POSTGRESQL_USER_PASSWORD=<User password>
POSTGRESQL_SERVER_PORT=5432
POSTGRESQL_SERVER_HOST=localhost:${POSTGRESQL_SERVER_PORT}

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=<Redis username>
REDIS_PASSWORD=<Redis user password>
